# 1. pandas 데이터프레임

In [1]:
import pandas as pd

### 1. 리스트에서 데이터프레임 생성하기

In [2]:
RowFirst = ["A01", 202015, 100]
RowSecond = ["A01", 202015, 100]
RowThird = ["A01", 202017, 100]

In [4]:
df1 = pd.DataFrame([RowFirst,RowSecond,RowThird])

     0       1    2
0  A01  202015  100
1  A01  202015  100
2  A01  202015  100

In [7]:
columnNameList = ["REGIONID","YEARWEEK","QTY"]

In [8]:
df1.columns = ["REGIONID","YEARWEEK","QTY"]

NameError: name 'df1' is not defined

In [10]:
columnFirst = ["A0","A01","A01"]
columnSecond = [202015,202016,202017]
columnThird = [100,110,150]

In [9]:
df2 = pd.DataFrame( zip(columnsFirst,columnSecond,columnThird))

NameError: name 'columnsFirst' is not defined

In [ ]:
df2. columns = columnNameList

In [ ]:
df2

### 2. 딕셔너리에서 데이터프레임 생성하기

# 1.라이브러리 선언

In [41]:
from bs4 import BeautifulSoup  # 내가 태그를 아름답게 뜬다
import requests   # 웹페이지 접속 요청 (request보내는 것)

# 2. 타겟URL 선언 및 접속

In [65]:
targetUrl = "http://www.sparkkorea.com/퀴즈"

In [66]:
resp = requests.get(url=targetUrl)    # 정상적이면 200뜸

## cf. 참고!

if resp.status_code == 200
    #원하는 로직을 펼치고
else:
    #다른 대체로직을 펼친다
resp.status_code

In [67]:
resp.encoding = "utf-8"

In [68]:
html = resp.text

In [46]:
type(html)

str

In [94]:
htmlObj = BeautifulSoup(html, "html.parser") #html로 추출 -> 스푼으로 이쁘게 html추출, 뜨겠다

In [95]:
targetParent = htmlObj.find(name="div",attrs = {"id":"id_spark_quiz"})

In [96]:
valueList = []
tagList = []

In [97]:
atags = targetParent.findAll(name="a") ## findall 은 리스트로 만들어짐.

In [98]:
atags

[<a href="https://forms.gle/Fw49w9GhWQChDcZm7"> 6/13 Spark 심화과정 </a>,
 <a href="https://forms.gle/G4TcXm3fKuHLHA6D6"> 6/13 Spark 기본과정 </a>,
 <a href="https://forms.gle/M8gr1kC2ubA3UDVp8"> 6/18 Spark [MAP_FILTER] </a>,
 <a href="https://forms.gle/h8w5mZ4MNaPLCPbi6"> 6/18 Spark GroupBy 심화 </a>,
 <a href="https://forms.gle/q5yL6QHfueDLM5w27"> 6/25 Spark RDD 실전 분석 </a>,
 <a href="https://forms.gle/Gxb4y6LfVYiaLu4M7"> 6/27 Spark RDD 실전 분석2 </a>]

In [99]:
len(atags)

6

In [92]:
for i in range(0, len(atags)): ## 로 말아서 0 을 i로 바꾸면 데이터 수집.

eachTag = atags[0]

tagText = eachTag.text

tagText

tagLink = eachTag.attrs["href"]

tagLink

In [92]:
    valueList.append(tagText)
    tagList.append(tagLink)

'a'

# 3. 태그값 접근하기

In [49]:
htmlObj.findAll(name="a") # 태그찾기 (전체를 리스트에 넣어줌)

[<a class="skip-link screen-reader-text" href="#content">컨텐츠로 건너뛰기</a>,
 <a href="https://sparkkorea.com/" rel="home">
 					스파크 코리아				</a>,
 <a href="https://sparkkorea.com/%ec%9e%90%eb%a3%8c%ec%8b%a4/">자료실</a>,
 <a href="https://sparkkorea.com/%ec%84%a4%eb%ac%b8-2/">설문s</a>,
 <a aria-current="page" href="https://sparkkorea.com/%ed%80%b4%ec%a6%88/">퀴즈</a>,
 <a href="https://sparkkorea.com/%ed%85%8c%ec%8a%a4%ed%8a%b8/">테스트</a>,
 <a href="https://sparkkorea.com/%ec%84%a4%eb%ac%b8/">학생퀴즈</a>,
 <a href="#"> 설문 준비중 </a>,
 <a href="https://forms.gle/Fw49w9GhWQChDcZm7"> 6/13 Spark 심화과정 </a>,
 <a href="https://forms.gle/G4TcXm3fKuHLHA6D6"> 6/13 Spark 기본과정 </a>,
 <a href="https://forms.gle/M8gr1kC2ubA3UDVp8"> 6/18 Spark [MAP_FILTER] </a>,
 <a href="https://forms.gle/h8w5mZ4MNaPLCPbi6"> 6/18 Spark GroupBy 심화 </a>,
 <a href="https://forms.gle/q5yL6QHfueDLM5w27"> 6/25 Spark RDD 실전 분석 </a>,
 <a href="https://forms.gle/Gxb4y6LfVYiaLu4M7"> 6/27 Spark RDD 실전 분석2 </a>,
 <a class="share-twitter sd-button share-icon" data-shared="sharing-twitter-102" href="https://sparkkorea.com/%ed%80%b4%ec%a6%88/?share=twitter" rel="nofollow noopener noreferrer" target="_blank" title="트위터로 공유하기"><span>트위터</span></a>,
 <a class="share-facebook sd-button share-icon" data-shared="sharing-facebook-102" href="https://sparkkorea.com/%ed%80%b4%ec%a6%88/?share=facebook" rel="nofollow noopener noreferrer" target="_blank" title="페이스북에 공유하려면 클릭하세요."><span>Facebook</span></a>,
 <a class="sd-link-color"></a>,
 <a href="https://wordpress.com/?ref=footer_segment_business" rel="nofollow">A WordPress.com Website.</a>]

In [50]:
htmlObj.find(name="a")# 태그찾기 (맨앞 한개)

In [13]:
htmlObj.findAll(name="div",attrs = {"id":"id_spark_quiz"})  ##div태그의 시작부터 끝까지 가져옴
## div : 단락 태그
## attrs : 속성값
## find로 내가 원하는거 찾아가는것 (계속 범위를 좁혀라)
## findAll을 활용해서 반복해서 수집해라~!
## find : 첫번째 태그정보 리턴
## findAll : 조건에 해당되는 모든 태그를 리스트로 리턴
###### find로 계속 정보 찾아 들어가고 마지막에 findAll로 리스트 안에 집어넣기

[<div class="class_spark_quiz" id="id_spark_quiz">
 <h1>Spark 퀴즈 </h1>
 <a href="https://forms.gle/Fw49w9GhWQChDcZm7"> 6/13 Spark 심화과정 </a>
 <p></p>
 <a href="https://forms.gle/G4TcXm3fKuHLHA6D6"> 6/13 Spark 기본과정 </a>
 <p></p>
 <a href="https://forms.gle/M8gr1kC2ubA3UDVp8"> 6/18 Spark [MAP_FILTER] </a>
 <p></p>
 <a href="https://forms.gle/h8w5mZ4MNaPLCPbi6"> 6/18 Spark GroupBy 심화 </a>
 <p></p>
 <a href="https://forms.gle/q5yL6QHfueDLM5w27"> 6/25 Spark RDD 실전 분석 </a>
 <p></p>
 <a href="https://forms.gle/Gxb4y6LfVYiaLu4M7"> 6/27 Spark RDD 실전 분석2 </a>
 <p></p>
 </div>]

In [ ]:
## find로 계속 정보 찾아 들어가고 마지막에 findAll로 리스트 안에 집어넣기

In [51]:
targetParent = htmlObj.find(name="div",attrs = {"id":"id_spark_quiz"})
# attrs = {속성명 : 속성이름}

In [52]:
targetParent

<div class="class_spark_quiz" id="id_spark_quiz">
<h1>Spark 퀴즈 </h1>
<a href="https://forms.gle/Fw49w9GhWQChDcZm7"> 6/13 Spark 심화과정 </a>
<p></p>
<a href="https://forms.gle/G4TcXm3fKuHLHA6D6"> 6/13 Spark 기본과정 </a>
<p></p>
<a href="https://forms.gle/M8gr1kC2ubA3UDVp8"> 6/18 Spark [MAP_FILTER] </a>
<p></p>
<a href="https://forms.gle/h8w5mZ4MNaPLCPbi6"> 6/18 Spark GroupBy 심화 </a>
<p></p>
<a href="https://forms.gle/q5yL6QHfueDLM5w27"> 6/25 Spark RDD 실전 분석 </a>
<p></p>
<a href="https://forms.gle/Gxb4y6LfVYiaLu4M7"> 6/27 Spark RDD 실전 분석2 </a>
<p></p>
</div>

In [53]:
eachTag = targetParent.find(name="a")

In [54]:
eachTag # a로 시작하는 한개 나옴

In [55]:
eachTag.attrs["href"] ##링크정보 가지고 올 수 있음

'https://forms.gle/Fw49w9GhWQChDcZm7'

In [56]:
valueList = []  # findAll은 리스트에 값을 담는 것!  값을 담을 변수 리스트 선언!

In [57]:
atags = targetParent.findAll(name="a")

In [58]:
atags

[<a href="https://forms.gle/Fw49w9GhWQChDcZm7"> 6/13 Spark 심화과정 </a>,
 <a href="https://forms.gle/G4TcXm3fKuHLHA6D6"> 6/13 Spark 기본과정 </a>,
 <a href="https://forms.gle/M8gr1kC2ubA3UDVp8"> 6/18 Spark [MAP_FILTER] </a>,
 <a href="https://forms.gle/h8w5mZ4MNaPLCPbi6"> 6/18 Spark GroupBy 심화 </a>,
 <a href="https://forms.gle/q5yL6QHfueDLM5w27"> 6/25 Spark RDD 실전 분석 </a>,
 <a href="https://forms.gle/Gxb4y6LfVYiaLu4M7"> 6/27 Spark RDD 실전 분석2 </a>]

In [59]:
atags[0]

In [109]:
linkList = []
nameList = []

In [111]:
for i in range(0, len(atags)):

    eachtag=atags[i]

    eachLink=eachtag.attrs["href"]

    eachName=eachtag.text

    linkList.append(eachLink)

    nameList.append(eachName)

In [112]:
linkList

['https://forms.gle/Fw49w9GhWQChDcZm7',
 'https://forms.gle/G4TcXm3fKuHLHA6D6',
 'https://forms.gle/M8gr1kC2ubA3UDVp8',
 'https://forms.gle/h8w5mZ4MNaPLCPbi6',
 'https://forms.gle/q5yL6QHfueDLM5w27',
 'https://forms.gle/Gxb4y6LfVYiaLu4M7']

In [113]:
nameList

[' 6/13 Spark 심화과정 ',
 ' 6/13 Spark 기본과정 ',
 ' 6/18 Spark [MAP_FILTER] ',
 ' 6/18 Spark GroupBy 심화 ',
 ' 6/25 Spark RDD 실전 분석 ',
 ' 6/27 Spark RDD 실전 분석2 ']

In [116]:
import pandas as pd

In [117]:
result=pd.DataFrame(zip(linkList,nameList))

In [118]:
result

                                     0                          1
0  https://forms.gle/Fw49w9GhWQChDcZm7           6/13 Spark 심화과정
1  https://forms.gle/G4TcXm3fKuHLHA6D6           6/13 Spark 기본과정
2  https://forms.gle/M8gr1kC2ubA3UDVp8   6/18 Spark [MAP_FILTER]
3  https://forms.gle/h8w5mZ4MNaPLCPbi6     6/18 Spark GroupBy 심화
4  https://forms.gle/q5yL6QHfueDLM5w27      6/25 Spark RDD 실전 분석
5  https://forms.gle/Gxb4y6LfVYiaLu4M7     6/27 Spark RDD 실전 분석2

In [119]:
columnList = ["링크", "퀴즈이름"]

In [120]:
result.columns = columnList

In [121]:
result

                                    링크                       퀴즈이름
0  https://forms.gle/Fw49w9GhWQChDcZm7           6/13 Spark 심화과정
1  https://forms.gle/G4TcXm3fKuHLHA6D6           6/13 Spark 기본과정
2  https://forms.gle/M8gr1kC2ubA3UDVp8   6/18 Spark [MAP_FILTER]
3  https://forms.gle/h8w5mZ4MNaPLCPbi6     6/18 Spark GroupBy 심화
4  https://forms.gle/q5yL6QHfueDLM5w27      6/25 Spark RDD 실전 분석
5  https://forms.gle/Gxb4y6LfVYiaLu4M7     6/27 Spark RDD 실전 분석2

In [ ]:
## 오빠가 해준거 (정답임ㅋㅋㅋㅋ)

In [34]:
for i in range(0, len(atags)):
        eachTag = atags[i]

        eachlink = eachTag.attrs["href"]

        eachname = eachTag.text

        nameList.append(eachname)

        linkList.append(eachlink)

In [35]:
nameList

[' 6/27 Spark RDD 실전 분석2 ',
 ' 6/27 Spark RDD 실전 분석2 ',
 ' 6/27 Spark RDD 실전 분석2 ',
 ' 6/27 Spark RDD 실전 분석2 ',
 ' 6/27 Spark RDD 실전 분석2 ',
 ' 6/27 Spark RDD 실전 분석2 ',
 ' 6/13 Spark 심화과정 ',
 ' 6/13 Spark 기본과정 ',
 ' 6/18 Spark [MAP_FILTER] ',
 ' 6/18 Spark GroupBy 심화 ',
 ' 6/25 Spark RDD 실전 분석 ',
 ' 6/27 Spark RDD 실전 분석2 ']

In [36]:
linkList

['https://forms.gle/Gxb4y6LfVYiaLu4M7',
 'https://forms.gle/Gxb4y6LfVYiaLu4M7',
 'https://forms.gle/Gxb4y6LfVYiaLu4M7',
 'https://forms.gle/Gxb4y6LfVYiaLu4M7',
 'https://forms.gle/Gxb4y6LfVYiaLu4M7',
 'https://forms.gle/Gxb4y6LfVYiaLu4M7',
 'https://forms.gle/Fw49w9GhWQChDcZm7',
 'https://forms.gle/G4TcXm3fKuHLHA6D6',
 'https://forms.gle/M8gr1kC2ubA3UDVp8',
 'https://forms.gle/h8w5mZ4MNaPLCPbi6',
 'https://forms.gle/q5yL6QHfueDLM5w27',
 'https://forms.gle/Gxb4y6LfVYiaLu4M7']

In [38]:
df2 = pd.DataFrame( zip(nameList,linkList))

NameError: name 'pd' is not defined

In [39]:
df2.columns = ["이름", "링크"]

NameError: name 'df2' is not defined

In [132]:
df2

                          이름                                   링크
0           6/13 Spark 심화과정   https://forms.gle/Fw49w9GhWQChDcZm7
1           6/13 Spark 심화과정   https://forms.gle/G4TcXm3fKuHLHA6D6
2           6/13 Spark 기본과정   https://forms.gle/M8gr1kC2ubA3UDVp8
3   6/18 Spark [MAP_FILTER]   https://forms.gle/h8w5mZ4MNaPLCPbi6
4     6/18 Spark GroupBy 심화   https://forms.gle/q5yL6QHfueDLM5w27
5      6/25 Spark RDD 실전 분석   https://forms.gle/Gxb4y6LfVYiaLu4M7

# 테이블정보 수집하기

# 테이블 스크랩

In [137]:
from bs4 import BeautifulSoup # 태그 이쁘게 뜨기
import requests # 웹페이지 접속 요청
targetUrl = "https://sparkkorea.com/테스트"

resp = requests.get(url=targetUrl) ## response 200 = 정상
resp.encoding = "utf-8" ## 인코딩
html = resp.text
htmlObj = BeautifulSoup(html, "html.parser") ## beautifulSoup 사용



tableTag = htmlObj.find(name="table", attrs={"id" : "test_table"})

tableTag

<table class="type07" id="test_table">
<thead>
<tr>
<th scope="cols">학번</th>
<th scope="cols">이름</th>
</tr>
</thead>
<tbody>
<tr>
<td>101</td>
<td>김효관</td>
</tr>
<tr>
<td>102</td>
<td>이순신</td>
</tr>
<tr>
<td>103</td>
<td>김어진</td>
</tr>
</tbody>
</table>

In [138]:
from bs4 import BeautifulSoup # 태그 이쁘게 뜨기
import requests # 웹페이지 접속 요청
targetUrl = "https://sparkkorea.com/테스트"

resp = requests.get(url=targetUrl) ## response 200 = 정상
resp.encoding = "utf-8" ## 인코딩
html = resp.text
htmlObj = BeautifulSoup(html, "html.parser") ## beautifulSoup 사용



tableTag = htmlObj.find(name="table", attrs={"id" : "test_table"})



tbodyTag = tableTag.find(name="tbody")

tbodyTag

<tbody>
<tr>
<td>101</td>
<td>김효관</td>
</tr>
<tr>
<td>102</td>
<td>이순신</td>
</tr>
<tr>
<td>103</td>
<td>김어진</td>
</tr>
</tbody>

In [143]:
rowList = []
coulmnList = []

In [144]:
trs = tbodyTag.find_all("tr")

In [147]:
for i in range(0, len(tds)):
    eachTd = tds[i]
    columnList.append(eachTd.text)

NameError: name 'columnList' is not defined

In [ ]:
# 한 행의 수지보안료된 컬럼 값을 rowlist에 붙인다
rowList.append(columnList)
columnList = []

In [ ]:
pd.columnList