In [1]:
import pandas as pd
import numpy as np

### 1. 데이터 로드

In [2]:
selloutData = pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")

In [3]:
selloutData.head(1)

  REGIONID   PRODUCT  YEARWEEK   QTY
0      A60  PRODUCT4    201402  71.0

### 2. 데이터 정제

In [4]:
selloutData["NEW_QTY"] = np.where(selloutData["QTY"] < 0, 0, selloutData["QTY"])

In [5]:
### 53주차 제거

In [6]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
NEW_QTY     float64
dtype: object

### 3. 53주차 제거

In [7]:
selloutData["WEEK"] = selloutData["YEARWEEK"]%100

In [8]:
refinedData = selloutData[selloutData.WEEK < 53]

In [9]:
refinedData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY  NEW_QTY  WEEK
0      A60   PRODUCT4    201402     71.0     71.0     2
1      A60  PRODUCT59    201402  22275.0  22275.0     2
2      A60  PRODUCT34    201402   4463.0   4463.0     2
3      A60  PRODUCT47    201402      0.0      0.0     2
4      A60  PRODUCT56    201402     23.0     23.0     2