In [1]:
import pandas as pd

In [2]:
selloutData = pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")

In [5]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
dtype: object

In [6]:
selloutData["YEARWEEK"] = selloutData.YEARWEEK.astype("str")

In [7]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK     object
QTY         float64
dtype: object

In [10]:
selloutData.min()

REGIONID         A00
PRODUCT     PRODUCT1
YEARWEEK      201401
QTY             -364
dtype: object

### 2. 행/열 조회

In [13]:
len(selloutData[selloutData.QTY < 0])

323

In [14]:
selloutData2 = selloutData[selloutData.QTY < 0]

### 3. 데이터 정제

In [16]:
import numpy as np

In [17]:
selloutData["NEW_QTY"] = np.where(selloutData.QTY < 0, 0, selloutData.QTY)

In [29]:
len(selloutData[selloutData.QTY >= 0][selloutData.QTY == selloutData.NEW_QTY])+len(selloutData[selloutData.QTY < 0])

C:\Users\kopo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

124658

In [30]:
len(selloutData)

124658

In [33]:
selloutData["YEAR"] = selloutData.YEARWEEK.str[0:4]
selloutData["WEEK"] = selloutData.YEARWEEK.str[4:6]

In [39]:
len(selloutData)

124658

In [37]:
refinedSelloutData = selloutData[selloutData.WEEK.astype(int) <= 52]

### 데이터 정렬

In [42]:
sortKey = ["REGIONID","PRODUCT","YEARWEEK"]

In [43]:
sortedData = refinedSelloutData.sort_values(sortKey)

### 데이터 집계 (Group By)

In [47]:
groupKey = ["REGIONID","PRODUCT"]

In [48]:
gfunction = ["mean","std","size"]

In [55]:
groupData = sortedData.groupby(groupKey)["NEW_QTY"].agg(gfunction).reset_index()

In [56]:
groupData

    REGIONID    PRODUCT           mean            std
0        A00  PRODUCT34     133.057692     155.176039
1        A00  PRODUCT58     105.250000     274.315679
2        A00  PRODUCT59   35957.570513   15154.625012
3        A01   PRODUCT1    5712.775641    3716.549078
4        A01  PRODUCT12  196825.403846  199486.717203
5        A01  PRODUCT14   17895.333333    9419.908594
6        A01  PRODUCT15    4755.391026    1532.289405
7        A01  PRODUCT16    1394.519231     736.225916
8        A01  PRODUCT19    3339.108974     997.979110
9        A01   PRODUCT2   22725.461538   23375.575772
10       A01  PRODUCT20      62.929487      75.863639
11       A01  PRODUCT33   11902.820513    6317.618260
12       A01  PRODUCT34  108119.282051  117646.571047
13       A01   PRODUCT4   25874.326923   33010.282181
14       A01  PRODUCT47   11004.032051    8269.661534
15       A01  PRODUCT56    6297.544872    1838.444080
16       A01  PRODUCT57    6808.243590    1394.972523
17       A01  PRODUCT58   27251.121795   28156.570449
18       A01  PRODUCT59  642026.737179  181141.756075
19       A01   PRODUCT6     812.692308    3269.463211
20       A01  PRODUCT60       0.923077       2.065191
21       A01  PRODUCT62   11342.955128    5732.406958
22       A01  PRODUCT63   47631.666667   34676.000829
23       A01   PRODUCT7    2075.076923    1305.103850
24       A01  PRODUCT75   30082.230769    9327.083324
25       A01   PRODUCT8     187.096154     160.986226
26       A02   PRODUCT1     153.185897     144.330213
27       A02  PRODUCT12    8905.448718    7250.493818
28       A02  PRODUCT14    1793.544872     686.521116
29       A02  PRODUCT16      23.333333      57.262534
..       ...        ...            ...            ...
764      A65   PRODUCT1      62.288462      41.826988
765      A65  PRODUCT12    1111.250000     652.922617
766      A65  PRODUCT14      16.839744      15.950527
767      A65  PRODUCT33     122.134615      55.010039
768      A65  PRODUCT34    1776.628205    1528.402177
769      A65  PRODUCT40       9.538462      10.240580
770      A65  PRODUCT47      23.108974      20.074562
771      A65  PRODUCT56      87.897436      28.800130
772      A65  PRODUCT57      91.339744      40.052948
773      A65  PRODUCT58     180.967949     198.533281
774      A65  PRODUCT59   12053.365385    5785.422717
775      A65  PRODUCT60      81.884615      25.299742
776      A65  PRODUCT62     187.801282      56.827347
777      A66  PRODUCT34     177.224359     282.831389
778      A66  PRODUCT58       4.814103       8.586414
779      A66  PRODUCT59    3776.121795    2207.299659
780      A67  PRODUCT34     706.544872     348.450271
781      A67  PRODUCT58      40.987179      62.239805
782      A67  PRODUCT59   21480.782051    6453.971304
783      A68  PRODUCT34     290.570513     179.571681
784      A68  PRODUCT58       1.660256       4.263115
785      A68  PRODUCT59    7780.173077    5596.191831
786      A69  PRODUCT34     166.570513     203.824121
787      A69  PRODUCT58       4.506410       5.791536
788      A69  PRODUCT59    8274.301282    6077.128909
789      A70  PRODUCT34    2166.666667    1484.221748
790      A70  PRODUCT58      60.730769      66.921075
791      A70  PRODUCT59   69345.288462   35988.802775
792      A77   PRODUCT1    2889.333333     943.775645
793      A77  PRODUCT12    3471.307692    1692.825844

[794 rows x 4 columns]

In [60]:
groupData.rename(columns={"mean":"MEAN","std":"STD"}, inplace=True)

In [63]:
groupData.head(1)

  REGIONID    PRODUCT        MEAN         STD
0      A00  PRODUCT34  133.057692  155.176039

In [64]:
refinedSelloutData.columns

Index(['REGIONID', 'PRODUCT', 'YEARWEEK', 'QTY', 'NEW_QTY', 'YEAR', 'WEEK'], dtype='object')

In [65]:
groupData.columns

Index(['REGIONID', 'PRODUCT', 'MEAN', 'STD'], dtype='object')

In [66]:
joinKey = ["REGIONID","PRODUCT"]

In [68]:
joinData = pd.merge(refinedSelloutData, groupData, on=joinKey, how="left" )

In [70]:
reqcolumns = ["REGIONID","PRODUCT","YEARWEEK","YEAR","WEEK","NEW_QTY","MEAN"]

In [71]:
middleReuslt = joinData[reqcolumns]

In [73]:
middleReuslt["SEASONALITY"] = np.where(middleReuslt.MEAN !=0,
                                      middleReuslt.NEW_QTY/middleReuslt.MEAN,
                                      0)

C:\Users\kopo\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [75]:
finalgroupKey = ["REGIONID","PRODUCT","WEEK"]

In [78]:
finalReuslt = middleReuslt.groupby(finalgroupKey)["SEASONALITY"].agg(["mean"]).reset_index()

In [85]:
finalReuslt.rename(columns={"mean":"SEASONALITY"},inplace=True)
finalReuslt.head()

  REGIONID    PRODUCT WEEK  SEASONALITY
0      A00  PRODUCT34   01     2.086814
1      A00  PRODUCT34   02     2.234620
2      A00  PRODUCT34   03     1.773667
3      A00  PRODUCT34   04     1.788698
4      A00  PRODUCT34   05     1.513128

### 정렬!ㅡ

In [110]:
groupKey2 = ["REGIONID","PRODUCT"]

In [111]:
groupData2 = sortedData.groupby(groupKey2)

In [112]:
len(groupData2)

794

In [115]:
oneGroup = groupData2.get_group(list(groupData2.groups)[0])

In [136]:
def mafunction(oneGroup, in_window):
    eachData = oneGroup.reset_index(drop=True)
    eachData["MA"] = eachData.NEW_QTY.rolling(window=in_window,
                                              center=True,
                                              min_periods=1).mean()
    return eachData

In [137]:
WINDOW = 5

In [139]:
groupData2 = sortedData.groupby(groupKey2).apply(mafunction, (WINDOW))

In [107]:
finalReuslt

      REGIONID    PRODUCT WEEK  SEASONALITY
0          A00  PRODUCT34   01     2.086814
1          A00  PRODUCT34   02     2.234620
2          A00  PRODUCT34   03     1.773667
3          A00  PRODUCT34   04     1.788698
4          A00  PRODUCT34   05     1.513128
5          A00  PRODUCT34   06     1.287662
6          A00  PRODUCT34   07     1.230043
7          A00  PRODUCT34   08     1.077227
8          A00  PRODUCT34   09     1.305198
9          A00  PRODUCT34   10     1.573252
10         A00  PRODUCT34   11     1.184950
11         A00  PRODUCT34   12     1.039649
12         A00  PRODUCT34   13     0.982030
13         A00  PRODUCT34   14     0.979525
14         A00  PRODUCT34   15     0.836730
15         A00  PRODUCT34   16     0.816688
16         A00  PRODUCT34   17     0.726502
17         A00  PRODUCT34   18     0.568676
18         A00  PRODUCT34   19     0.516067
19         A00  PRODUCT34   20     0.526088
20         A00  PRODUCT34   21     0.521077
21         A00  PRODUCT34   22     0.516067
22         A00  PRODUCT34   23     0.438406
23         A00  PRODUCT34   24     0.398323
24         A00  PRODUCT34   25     0.283085
25         A00  PRODUCT34   26     0.250518
26         A00  PRODUCT34   27     0.308137
27         A00  PRODUCT34   28     0.493520
28         A00  PRODUCT34   29     1.796213
29         A00  PRODUCT34   30     1.407911
...        ...        ...  ...          ...
41258      A77  PRODUCT12   23     0.933462
41259      A77  PRODUCT12   24     0.782702
41260      A77  PRODUCT12   25     0.881992
41261      A77  PRODUCT12   26     0.857794
41262      A77  PRODUCT12   27     0.581433
41263      A77  PRODUCT12   28     0.683316
41264      A77  PRODUCT12   29     0.729792
41265      A77  PRODUCT12   30     1.172565
41266      A77  PRODUCT12   31     1.177750
41267      A77  PRODUCT12   32     1.057911
41268      A77  PRODUCT12   33     0.933270
41269      A77  PRODUCT12   34     1.036881
41270      A77  PRODUCT12   35     0.933078
41271      A77  PRODUCT12   36     0.813718
41272      A77  PRODUCT12   37     0.841374
41273      A77  PRODUCT12   38     0.981763
41274      A77  PRODUCT12   39     1.852424
41275      A77  PRODUCT12   40     0.734305
41276      A77  PRODUCT12   41     0.923475
41277      A77  PRODUCT12   42     0.984739
41278      A77  PRODUCT12   43     1.128009
41279      A77  PRODUCT12   44     0.808725
41280      A77  PRODUCT12   45     0.882184
41281      A77  PRODUCT12   46     1.080092
41282      A77  PRODUCT12   47     1.076924
41283      A77  PRODUCT12   48     1.208670
41284      A77  PRODUCT12   49     1.098241
41285      A77  PRODUCT12   50     1.313242
41286      A77  PRODUCT12   51     1.159889
41287      A77  PRODUCT12   52     1.462657

[41288 rows x 4 columns]

In [ ]:
seasonMap = finalReuslt.groupby(finalgroupKey)["SEASONALITY"].agg("mean").to_dict()

seasonMap["A00","PRODUCT34","01"]

("A00","PRODUCT34","00") in seasonMap.keys()

In [165]:
emptyColumns = ["REGIONID","PRODUCT","ITEM","YEARWEEK","QTY"]

In [173]:
emptydf = pd.DataFrame(columns=emptyColumns)

In [174]:
emptydf

Empty DataFrame
Columns: [REGIONID, PRODUCT, ITEM, YEARWEEK, QTY]
Index: []

In [175]:
from fintechlab import CommonFunction as cf

In [176]:
REGIONID = "A00"
PRODUCT = "PRODUCT34"
ITEM = "ITEM01"
STARTWEEK = "201925"

In [177]:
PAST_WINDOW = 4

In [178]:
for i in range(0, PAST_WINDOW):
    emptydf = emptydf.append( pd.DataFrame([[REGIONID,
                                             PRODUCT,
                                             ITEM,
                                             cf.
                                             preWeek(STARTWEEK,i)
                                             ,100+(i*10)]],
                                columns = emptyColumns ),
                            ignore_index=True)

In [179]:
emptydf

  REGIONID    PRODUCT    ITEM YEARWEEK  QTY
0      A00  PRODUCT34  ITEM01   201925  100
1      A00  PRODUCT34  ITEM01   201924  110
2      A00  PRODUCT34  ITEM01   201923  120
3      A00  PRODUCT34  ITEM01   201922  130

In [210]:
zip(qty,predict)

In [213]:
list(zip(qty,predict))

[(10, 20), (100, 150), (200, 220)]

In [212]:
qty = [10,100,200]
predict = [20, 150, 220]
pd.DataFrame(list(zip(qty,predict)))

     0    1
0   10   20
1  100  150
2  200  220

In [205]:
qty = [10,100,200]
predict = [20, 150, 220]

In [207]:
qtydf= pd.DataFrame(qty)
predictdf = pd.DataFrame(predict)

In [208]:
pd.concat([qtydf,predictdf], axis=1)

     0    0
0   10   20
1  100  150
2  200  220

In [202]:
import pandas as pd

In [203]:
row1 = ["A01","201501",0]
row2 = ["A01","201502",100]

In [204]:
pd.DataFrame( [row1,row2])

     0       1    2
0  A01  201501    0
1  A01  201502  100

In [149]:
from fintechlab import CommonFunction as cf

In [214]:
emptydf

  REGIONID    PRODUCT    ITEM YEARWEEK  QTY
0      A00  PRODUCT34  ITEM01   201925  100
1      A00  PRODUCT34  ITEM01   201924  110
2      A00  PRODUCT34  ITEM01   201923  120
3      A00  PRODUCT34  ITEM01   201922  130

In [215]:
emptydf.QTY.mean()

115.0

In [188]:
stdQty = emptydf.QTY.mean()

In [216]:
weekList = emptydf.YEARWEEK.str[4:6]

0    25
1    24
2    23
3    22
Name: YEARWEEK, dtype: object

In [193]:
weekList = emptydf.YEARWEEK.str[4:6]
seasonList = []
for i in weekList:
    seasonList.append(seasonMap[REGIONID,PRODUCT,i])

In [200]:
stdSeasonality = sum(seasonList) / len(seasonList)
stdSeasonality

0.40897046779399715

In [201]:
stdQty

115.0

In [220]:
FCST_WINDOW = 5

In [221]:
STARTWEEK

'201925'

In [222]:
for i in range(0, FCST_WINDOW):
    emptydf = emptydf.append( pd.DataFrame( [[REGIONID, 
                                              PRODUCT, 
                                              ITEM,   
                                              cf.postWeek(STARTWEEK,i+1),0]],
                                          columns=emptyColumns),
                            ignore_index=True)

In [224]:
emptydf["FCST"] = 0
emptydf["AVG_QTY"] = stdQty
emptydf["AVG_SEASON"] = stdSeasonality

In [250]:
def seasonmapping(yearweek):
    week = yearweek[4:6]
    seasonality = seasonMap[REGIONID,PRODUCT,week]
    return seasonality

In [251]:
emptydf["SEASONALITY"] = emptydf["YEARWEEK"].apply(seasonmapping)

##### 예측값 = 최근 한달간 판매량 / 최근 한단갈 계절성 지수 * 예측주차의 계절성지수

In [253]:
emptydf["FCST"] = emptydf.AVG_QTY/emptydf.AVG_SEASON * emptydf.SEASONALITY

In [256]:
STARTWEEK

'201925'

In [265]:
emptydf[emptydf.YEARWEEK.astype(int)<=int(STARTWEEK)]["FCST"]

0    0.0
1    0.0
2    0.0
3    0.0
Name: FCST, dtype: float64

In [258]:
emptydf.loc[emptydf.YEARWEEK.astype(int)<=int(STARTWEEK), "FCST"] = 0

In [264]:
emptydf

,REGIONID,PRODUCT,ITEM,YEARWEEK,QTY,FCST,AVG_QTY,AVG_SEASON,SEASONALITY,WEEK
0,A00,PRODUCT34,ITEM01,201925,100,0.000000,115.0,0.40897,0.283085,25
1,A00,PRODUCT34,ITEM01,201924,110,0.000000,115.0,0.40897,0.398323,24
2,A00,PRODUCT34,ITEM01,201923,120,0.000000,115.0,0.40897,0.438406,23
3,A00,PRODUCT34,ITEM01,201922,130,0.000000,115.0,0.40897,0.516067,22
4,A00,PRODUCT34,ITEM01,201926,0,70.444104,115.0,0.40897,0.250518,26
5,A00,PRODUCT34,ITEM01,201927,0,86.646248,115.0,0.40897,0.308137,27
6,A00,PRODUCT34,ITEM01,201928,0,138.774885,115.0,0.40897,0.493520,28
7,A00,PRODUCT34,ITEM01,201929,0,505.084227,115.0,0.40897,1.796213,29
8,A00,PRODUCT34,ITEM01,201930,0,395.895865,115.0,0.40897,1.407911,30

In [277]:
def allFunction(columns):
    result = columns[4:6]
    return result

In [278]:
emptydf["YEARWEEK"].apply(allFunction)

0    25
1    24
2    23
3    22
4    26
5    27
6    28
7    29
8    30
Name: YEARWEEK, dtype: object

In [279]:
def allFunction(df):
    avg_qty = df.AVG_QTY 
    qty =  df.QTY
    seasonality = seasonMap[REGIONID,PRODUCT,"01"]
    df["aaa"] = avg_qty*qty+seasonality
    return df

In [280]:
emptydf.apply(allFunction, axis = 1)

,REGIONID,PRODUCT,ITEM,YEARWEEK,QTY,FCST,AVG_QTY,AVG_SEASON,SEASONALITY,WEEK,aaa
0,A00,PRODUCT34,ITEM01,201925,100,0.000000,115.0,0.40897,0.283085,25,11502.086814
1,A00,PRODUCT34,ITEM01,201924,110,0.000000,115.0,0.40897,0.398323,24,12652.086814
2,A00,PRODUCT34,ITEM01,201923,120,0.000000,115.0,0.40897,0.438406,23,13802.086814
3,A00,PRODUCT34,ITEM01,201922,130,0.000000,115.0,0.40897,0.516067,22,14952.086814
4,A00,PRODUCT34,ITEM01,201926,0,70.444104,115.0,0.40897,0.250518,26,2.086814
5,A00,PRODUCT34,ITEM01,201927,0,86.646248,115.0,0.40897,0.308137,27,2.086814
6,A00,PRODUCT34,ITEM01,201928,0,138.774885,115.0,0.40897,0.493520,28,2.086814
7,A00,PRODUCT34,ITEM01,201929,0,505.084227,115.0,0.40897,1.796213,29,2.086814
8,A00,PRODUCT34,ITEM01,201930,0,395.895865,115.0,0.40897,1.407911,30,2.086814

In [227]:
def seasonmapping(incol):
    week = incol[4:6]
    seasonality = seasonMap[REGIONID,PRODUCT,week]
    return seasonality

In [230]:
emptydf["SEASONALITY"] = emptydf["YEARWEEK"].apply(seasonmapping)

In [231]:
emptydf

,REGIONID,PRODUCT,ITEM,YEARWEEK,QTY,FCST,AVG_QTY,AVG_SEASON,SEASONALITY
0,A00,PRODUCT34,ITEM01,201925,100,0,115.0,0.40897,0.283085
1,A00,PRODUCT34,ITEM01,201924,110,0,115.0,0.40897,0.398323
2,A00,PRODUCT34,ITEM01,201923,120,0,115.0,0.40897,0.438406
3,A00,PRODUCT34,ITEM01,201922,130,0,115.0,0.40897,0.516067
4,A00,PRODUCT34,ITEM01,201926,0,0,115.0,0.40897,0.250518
5,A00,PRODUCT34,ITEM01,201927,0,0,115.0,0.40897,0.308137
6,A00,PRODUCT34,ITEM01,201928,0,0,115.0,0.40897,0.493520
7,A00,PRODUCT34,ITEM01,201929,0,0,115.0,0.40897,1.796213
8,A00,PRODUCT34,ITEM01,201930,0,0,115.0,0.40897,1.407911

In [150]:
cf.preWeek("201925",1)

'201924'

In [ ]:
print(seasonMap["A00","PRODUCT34","22"])

In [99]:
seasonMap = finalReuslt.groupby(finalgroupKey)["SEASONALITY"].agg("mean").to_dict()

seasonMap["A00","PRODUCT34","01"]

("A00","PRODUCT34","00") in seasonMap.keys()

In [95]:
seasonMap("A00","PRODUCT34","01")

TypeError: 'dict' object is not callable

In [86]:
seasonMap = finalReuslt.groupby(finalgroupKey)["SEASONALITY"].agg("mean").to_dict()

In [89]:
("A00","PRODUCT34","01") in seasonMap.keys()

True

In [34]:
selloutData.min()

REGIONID         A00
PRODUCT     PRODUCT1
YEARWEEK      201401
QTY             -364
NEW_QTY            0
YEAR            2014
WEEK              01
dtype: object