In [1]:
a = 10
b = 5.3

In [2]:
revenue = a/b

In [3]:
revenue

1.8867924528301887

##미션 소수점 둘째자리 반올림

In [29]:
def roundFunction(inValue):
    #step 1: 입력받은 데이터를 반올림 자리수만큼 곱해준다
    #함수를 개발하기위한 디버깅코드
    #inValue = 1.893430903490

    step1 = inValue * 100

    #step 2: 곱해준 결과에 0.5를 더한 후 소수점 이하 버림

    step2 = int(step1 + 0.5)

    #step 3 : 100으로 나눠준다

    step3 = step2 / 100
    outValue = step3

    return outValue

In [30]:
outValue

1.89

In [31]:
revenue = 1.4224334

In [38]:
aa =roundFunction(revenue)

1.42

In [35]:
accuracy = 89.1232423

In [36]:
bb=roundFunction(accuracy)

89.12

In [39]:
glovalMeanValue = 0.0

In [41]:
def simpleFunction(inValue1,inValue2):
    localValue = 0.0
#inValue1 = 0.5
#inValue2 = 0.3
defaultValue = localValue 
#분모가 0인경우 기본값 1
    if inValue2 != 0:
        meanValue = inValue1 / inValue2
    else:
        meanValue = localValue
    outValue = meantValue
    outValue

IndentationError: unexpected indent (<ipython-input-41-d924a2cfd0f4>, line 7)

In [ ]:
simpleFunction(5,0)

In [50]:
def roundFunction(inValue,option):

SyntaxError: unexpected EOF while parsing (<ipython-input-50-5eca7c4cd9ac>, line 1)

In [108]:
inValue = 1.23243

In [109]:
#step 1: 입력받은 데이터를 반올림 자리수만큼 곱해준다
#사용자가 입력한 만큼 반올림 하기위해 10의 option승만큼 곱함
step1 = inValue * (10)

In [110]:
step1

12.3243

In [111]:
#step 2: 곱해준 결과에 0.5를 더한 후 소수점 이하 버림
step2 = int(step1 + 0.5)

#step 3 :10의 option승으로 나눠준다승으로 나눠준다
step3 = step2 / (10)
outValue = step3

outValue

1.2

In [ ]:
함수 입력변수에 따라 소수점 2자리수, 3자리 등의 반올림
이 가능하도록 함수를 구현하세요
(예: roundFunction(12.2225,3) -> 3번째자리 반올림)

In [56]:

def roundOpotion(inValue,optionValue):
    #step 1: 입력받은 데이터를 반올림 자리수만큼 곱해준다
    #함수를 개발하기위한 디버깅코드
    #inValue = 1.893430903490
    #optionValue
inValue = 1.225
optionValue = 1
step1 = inValue * 10**optionValue

#step 2: 곱해준 결과에 0.5를 더한 후 소수점 이하 버림
step2 = int(step1 + 0.5)

#step 3 : 100으로 나눠준다
step3 = step2 / 10 **optionValue
outValue = step3

outValue

1.23

In [88]:
mergedSet = []

In [89]:
import pandas as pd

In [90]:
for i in range(1,4):
    try:  ##예외가 발생가능한 코드
        mergedSet.append(pd.read_csv("./a"+str(i)+".txt"))  
        
    except Exception as e:
        print("./a"+str(i)+".txt") ## 예외가 발생해서 출력된 코드

In [91]:
mergedSet[1]

   a  b   c   5   7
0  1  2 NaN NaN NaN

In [112]:
totalList = ["1","2","3","4","5"]

In [ ]:
Sum = 0

In [ ]:
for i in range(0,len(tatalList):

In [125]:
tvList = ["LEDTV_UN40EN001", "LEDTV_UN40EN002", "LEDTV_UN40EN003"]
mobileList = ["G3_MO001", "G3_MO002","G3_MO003"]
speakerList = ["BL_SP001", "BL_SP002", "BL_SP003"]
productList = [tvList, mobileList, speakerList]

mobileList = ["G3_MO001", "G3_MO002","G3_MO003"]
모바일리스트에서 003이 포함되면 출력하지 않는다~

In [163]:
for i in range(0, len(mobileList)):
#     slslsls
    print(eachItem)

G3_MO003
G3_MO003
G3_MO003

In [171]:
for eachProduct in range(0, len(productList)):

    mobileList = productList[eachProduct]

    for i in range(0, len(mobileList)):

        eachItem = mobileList[i]
        each

        exceptTag = "003"

        if eachItem[-3:]==exceptTag:
            pass
        else:
            print(eachItem)

LEDTV_UN40EN001
LEDTV_UN40EN002
G3_MO001
G3_MO002
BL_SP001
BL_SP002

In [172]:
mobileList = productList[0]

In [173]:
mobileList

['LEDTV_UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_UN40EN003']

In [174]:
for i in range(0, len(mobileList)):

    # 몹
    eachItem = mobileList[i]
    eachItem

    exceptTag = "003"

    if eachItem[-3:]==exceptTag:
        pass
    else:
        print(eachItem)

LEDTV_UN40EN001
LEDTV_UN40EN002

In [207]:
eachItem = productList

In [198]:
for j in range(0, len(productList)):

    mobileList = productList[j]

    for i in range(0, len(mobileList)):

        eachItem = mobileList[i]

        inTag = "LEDTV_"
        inTagCount = eachItem.count(inTag)

        if inTagCount >= 1:
            print(eachItem)
            continue

        exceptTag = "003"
        exceptTagCount = eachItem.count(exceptTag)

        # except 태그("003") 이 모델코드 안에 1개 이상 존재 시 출력 안함
        if exceptTagCount >= 1:
            pass
        # 그외에는 출력
        else:
            print(eachItem)

LEDTV_UN40EN001
LEDTV_UN40EN002
LEDTV_UN40EN003
G3_MO001
G3_MO002
BL_SP001
BL_SP002

In [203]:
mobileList = productList[2]

In [204]:
for i in range(0, len(mobileList)):

    eachItem = mobileList[i]

    inTag = "LEDTV_"
    inTagCount = eachItem.count(inTag)

    if inTagCount >= 1:
        print(eachItem)
        continue

    exceptTag = "003"
    exceptTagCount = eachItem.count(exceptTag)

    # except 태그("003") 이 모델코드 안에 1개 이상 존재 시 출력 안함
    if exceptTagCount >= 1:
        pass
    # 그외에는 출력
    else:
        print(eachItem)

BL_SP001
BL_SP002

In [ ]:
for j in range(0, len(productList)):

    totalList = productList[j]

    for i in range(0, len(mobileList)):

        eachItem = mobileList[i]

#         inTag = "LEDTV_"
#         inTagCount = eachItem.count(inTag)

#         if inTagCount >= 1:
#             print(eachItem)
#             continue

        exceptTag = "003"
        exceptTagCount = eachItem.count(exceptTag)

        # except 태그("003") 이 모델코드 안에 1개 이상 존재 시 출력 안함
        if exceptTagCount >= 1:
            pass
        # 그외에는 출력
        else:
            print(eachItem)